.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color 0.3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  width: 25%;
  padding-top: 20px;
}
.menu {
  margin-top: 20px;
}
.site-layout .site-layout-background {
  background: #fff;
}
section.ant-layout.site-layout {
  height: 100vh;
}
.contentlogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.contentlogo p {
  font-size: 1.5em;
  color: white;
  padding-top: 40px;
}
.layoutflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 30px;
}
